body{background-color: rgb(145, 0, 182);}
    h1{border: 2px solid rgb(0, 0, 0);
        font-family: verdana;
        padding: 10px;
        margin: 20px;
        font: size 40px;
       color: blue;}
    h2{font-size: 10px;font-family: sans-serif;font-weight: 10px;}
    p{font-family: courier;
      color: red;}
    th{color:rgb(0, 255, 115)}
    td{color: rgb(0, 0, 0)}
  